body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
h1, h2 { 
    text-align: center; 
    color: white;
}
form { 
    background: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%; 
    margin: auto;
    box-shadow: 0 0 10px #ccc; 
    border-radius: 8px;
}
label { 
    display: block; 
    margin-top: 10px; 
} 
input[type="text"], select { 
    width: 94%; 
    padding: 8px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #aaa; 
    border-radius: 4px; 
} 
input[type="submit"] { 
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer;
}
#search {
    box-shadow: 0 0 10px #ccc; 
    width: 50%;
}
#materiTable {
    width: 75%;
}
  
input, select {
    margin-bottom: 10px;
    display: block;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px #ccc; 
}
tbody {
    color: white;
}
  
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
  
  th {
    background-color: #f0f0f0;
}
  